[2014-10-01 12:21] 2xyo opened #1 "Register python-otrs on pypi"
Could you package this repo and register it on https://pypi.python.org/pypi ?

[2014-11-19 20:15] KVInventoR opened #2 "Getting attachments from ticket"
And how can you get the attachments from the ticket?

[2014-11-22 20:34] KVInventoR commented on #2
objects.py

class Attachment(OTRSObject):
    XML_NAME = 'Attachment'

class Article(OTRSObject):
    XML_NAME = 'Article'
    CHILD_MAP = {'Attachment' : Attachment}

[code]

class Ticket(OTRSObject):
    XML_NAME = 'Ticket'
    CHILD_MAP = {'Article' : Article}

[code]

//def ticket_get(self, ticket_id, get_articles=False, _args, *_kwargs):
def ticket_get(self, ticket_id, get_articles=False, get

[2015-03-10 08:54] JocelynDelalande opened #3 "Make clear the maintenance status of this project"
We (@oasiswork) do no longer maintain this project as we do no longer use python-otrs.

I would however be happy to add more commiters so that maintainers willing to adopt it can do it or to redirect users to another living fork.

@ajoaoff ? @KVInventoR ? @2xyo ?

[2015-03-10 08:55] JocelynDelalande commented on #2
see #3

[2015-03-10 08:55] JocelynDelalande commented on #1
see #3

[2015-03-10 10:47] 2xyo commented on #3
I switched to [request tracker](https://www.bestpractical.com/rt/)... So, I'm not really interested to maintain this project anymore.

But I hope someone else will maintain this project :)

[2015-08-24 20:13] ewsterrenburg commented on #3
Although I don't plan on using this actively (more using it as a tool to familiarize myself with the soap-interface of OTRS), I could give this a shot if you like... @JocelynDelalande @oasiswork

[2015-08-31 08:40] JocelynDelalande commented on #3
@ewsterrenburg Ok (sorry for delay, holidays...), I'm trying to transfer it to you, could you please rename or delete your fork _ewsterrenburg/python-otrs_ ? I cannot transfer the repo if you have something with that name on your account.

Thanks by advance.

[2015-08-31 17:00] ewsterrenburg commented on #3
@JocelynDelalande Thanks. I have renamed it for now. Will delete this copy after the transfer is complete :).

[2015-09-01 14:58] JocelynDelalande commented on #3
@ewsterrenburg Sorry, you even have to delete it now, gh says « ewsterrenburg already has a repository in the JocelynDelalande/python-otrs network » right now when I try to transfer.

[2015-09-01 19:40] ewsterrenburg commented on #3
@JocelynDelalande Ok, just deleted it...

[2015-09-02 23:03] JocelynDelalande commented on #3
@ewsterrenburg aaaaand… you host it :)

[2015-09-02 23:03] #3 closed

[2015-09-03 05:59] ewsterrenburg commented on #2
Implemented, very similar to the lines suggested by @KVInventoR

[2015-09-03 05:59] #2 closed

[2015-09-03 06:15] ewsterrenburg commented on #3
@JocelynDelalande Thanks, I'll take good care of it :)

[2015-09-03 17:39] ewsterrenburg commented on #1
Created a 0.1.0 release and uploaded this to PyPI.

[2015-09-03 17:39] #1 closed

[2015-12-01 17:44] dayjavid opened #5 "Question: ticket_search by multiple OwnerIDs"
In the ticket_search example, you show something like..

`otrs.ticket_search(OwnerIDs=1)`

How would I get a result set of tickets for multiple OwnerIDs?
I've tried a few things that didn't work and was just wondering if this feature was supported.

I have a workaround in place if not.

Thanks,

[2015-12-03 17:23] ewsterrenburg commented on #5
@dayjavid
This feature is not currently supported and at first sight it does not seem trivial to implement.

The easy work-around would be to loop over the OwnerIDs in a loop and perform a series a requests, but my guess is you already considered that yourself :).

[2015-12-04 01:32] dizzydis commented on #5
Yea I actually didn't even go that in depth.  We've written auto assignment logic so there's only a couple of owners that we auto reassign from.  Up until recently it was only one.  With the recent addition of the 2nd,  I just created two separate lists and concatenated them.
Thanks for the reply though!

[2015-12-11 22:24] ryanbentley opened #6 "ticket_search"
$VAR1 = {
  'ErrorMessage' => 'Got no OperationType!',
  'Success' => 0
};

[2015-12-11 22:43] ewsterrenburg commented on #6
@ryanbentley: Could you please provide a little more elaboration about this issue please...
What request are you trying to perform? Against what version of OTRS? Etc.

[2015-12-11 22:46] ryanbentley commented on #6
Nevermind. I've sorted it out - my connector was incorrectly configured.

I have another question though:

EG: client.ticket_get(ticketid, get_articles=True).articles()[0]

How do I get the body of an article?

[2015-12-11 23:35] ewsterrenburg commented on #6
Similar to the attributes of a ticket itself, the 'attrs' attribute of an article provides you with a dictionary of its attributes. For example:

ticket = client.ticket_get(ticketid, get_articles=True)
article = ticket.articles()[0]
body = article.attrs['Body']

Easiest way to view the names of all available attributes is to play around with the result of a TicketGet operation in an (i)python term

[2015-12-12 00:34] ryanbentley commented on #6
Is it possible to create a ticket, as an agent, but forcing it as if it was created by a user?

I'm trying to allow users to create tickets via my interface without otrs being tied into my user DB, so ideally I'd like to use client.user_session_register with agent credentials, but create a ticket like so:

Ticket(CustomerUser=current_user.email)

Or something similar.

[2015-12-12 20:23] ewsterrenburg commented on #6
I don't fully grasp what exactly you are trying to accomplish...
Of course you can create a ticket while logging in as an agent and set the CustomerUser as an attribute while creating the ticket (as documented in http://otrs.github.io/doc/manual/admin/4.0/en/html/genericinterface.html#generic-ticket-connector).

Actually the readme here contains the exact same thing.

If you are trying to accompli

[2015-12-13 10:53] ryanbentley opened #7 "Sessions are dying very quickly"
otrs.user_session_register(otrs_user, otrs_password)

this will work for a while, but after about 5 minutes we start getting:

  File "./app.py", line 1315, in manage
    otrs.user_session_register(otrs_user, otrs_password)
  File "/home/.env/local/lib/python2.7/site-packages/otrs/client.py", line 199, in user_session_register
    user_login=user)
  File "/home/.env/local/lib/python2.7/site-packag

[2015-12-15 14:51] ewsterrenburg commented on #7
You could check the system log of your otrs installation, maybe there are some hints on what is going on...

[2015-12-15 15:04] #6 closed

[2015-12-23 08:07] ewsterrenburg commented on #7
Issue most likely not related to python-otrs but related to the environment (dynamic ip-adress or something similar?), so closing this issue for now. Can be reopened if it shows otherwise.

[2015-12-23 08:07] #7 closed

[2016-03-21 10:40] frdmn opened #9 "Can"

[2016-03-21 10:46] frdmn opened #10 "Can't seem to get full text search working using SOAP"
Hello,

i struggle since about 3 months to get the full text search working via SOAP.

Already tried asking for help in the official otterhub forum, but noone seems to be able to help me here: [OtterHub - OTRS Community | Full text search via SOAP and GenericTicketConnector](http://forums.otterhub.org/viewtopic.php?f=53&t=30785)

Here's what I use at the moment:

[code]

... based on the example c

[2016-03-21 13:05] #9 closed

[2016-03-21 13:09] frdmn commented on #9
Woah, apologize. I didn't even see that i've opened two tickets.

_Fingers! What are you doing?!?!_

![](http://i.imgur.com/YlHansU.gif)

[2016-03-21 13:11] ewsterrenburg commented on #10
As far as I can see, **ContentSearch = 'OR'**  is being ignored by the OTRS Generic Ticketconnector.

When I do some testing, the results appear as if only results are given back for which each of the conditions specified is True. This behavior occurs both calling the TicketConnector from Python and when testing the GenericTicket connector directly using SoapUI.

@frdmn could you do some testing i

[2016-03-21 13:22] frdmn commented on #10
@ewsterrenburg I would love to debug/test this with you! I already spent several months trying to get a proper response from the OTRS team, but no-one really could help me out yet.

Let me know when and how you need my help :+1:

[2016-03-21 13:31] ewsterrenburg commented on #10
Doesn't sound really hopeful, since I suspect the issue is located within OTRS itself...

@frdmn Could you please check if a request of the following nature only returns you the tickets for which the string being searched for (I used "test", use something that is present in your tickets ;)) occurs both in the subject and body of the ticket. If so, I will put it up on the OTRS mailing list

[code]

[2016-03-21 14:02] frdmn commented on #10
Not sure if I do this right, but I setup SoapUI, [downloaded the WSDL](https://github.com/OTRS/otrs/blob/master/development/webservices/GenericTicketConnectorSOAP.wsdl), imported it and tried the following request:

[code]

Which returns the following (error) response:

[code]

Did I miss anything?

[2016-03-21 14:06] ewsterrenburg commented on #10
Don't know, it's working for me. But you could also test it using your python code I guess...

[2016-03-21 14:26] frdmn commented on #10
Interesting, works for me via `python-otrs` but not via raw SOAP. I'm going to take a look in the Webservice Debugger and try to compare both requests to see the differences. Stay tuned :)

[2016-03-21 14:38] frdmn commented on #10
Here's the request received from the debugger:
- via `python-otrs` (works fine): http://paste.frd.mn/ocigo
- via SoapUI.app (doesn't work): http://paste.frd.mn/xeguy

Comparison:

[code]

My guess is that the `HTTP_SOAPACTION` makes the request invalid out of SoapUI. I have no clue how that got in there though - I assume because I imported the WSDL?

[2016-03-21 16:27] frdmn commented on #10
@ewsterrenburg Finally got it working! Apparently the `SOAPACTION` is a SoapUI-specific behaviour(?). I just tried to send the raw HTTP request using Postman and that immediately worked like a charm.

Regarding your actual question: I've picked a ticket which contains a really unique ticket number from a remote ticket system (2016031410000296) only in the subject, but not in the body.

Now I tried

[2016-03-21 16:53] ewsterrenburg commented on #10
@frdmn I agree.
Will you report this to the OTRS development team or should I do so?

[2016-03-21 16:56] frdmn commented on #10
@ewsterrenburg I am not really familiar with mailing lists, so it would be nice if you could submit it. If you have more important stuff to do right now, I can also try to o it :)

[2016-03-21 19:30] ewsterrenburg commented on #10
Posted it on the [OTRS mailinglist](https://groups.google.com/forum/#!topic/otrs_archive/k-nV7n-ezn4)

[2016-03-22 09:18] frdmn commented on #10
Thank you! Now let's wait patiently for a response :)

[2016-04-04 13:43] ewsterrenburg commented on #10
@frdmn
no reaction on the mailing list. Reported it with the otrs bugtracker:
[http://bugs.otrs.org/show_bug.cgi?id=11981](http://bugs.otrs.org/show_bug.cgi?id=11981)

[2016-04-04 14:57] frdmn commented on #10
🙂👍

Von meinem iPhone gesendet

[2016-04-14 17:45] frennkie commented on #10
I have been working on a Python implementation for the OTRS API over the last few days which - I'll have to admit - actually does the same thing as you have done here. But I really did not want to touch that SOAP stuff and am using the REST interface.
i believe I have run into the same issue with my project as you have:

[code]

The only ticket I have in my system is the initial "Welcome to OTRS"

[2016-04-14 17:53] ewsterrenburg commented on #10
@frennkie
I agree with you on this one and expect that ticket to be found...
It keeps being quiet on both OTRS mailinglist and Bugtracker though.

Since @frdmn  has similar experiences of proper responses lacking, priority for the dev team seems to be low. Fortunately, I am not using full text searches anyway.

[2016-04-14 17:57] frennkie commented on #10
@ewsterrenburg I assume you have absolutely no intention on using/switch to REST as you already have a full SOAP implementation, right? I have not yet published my code but am planning to do so (possibly as "PyOTRS"). Any objections from your side?

[2016-04-14 18:03] ewsterrenburg commented on #10
@frennkie

No objections at all and neither any intention to use/switch to REST at the moment.
Generally I like REST better as well, yet there were two reasons have chosen SOAP:
1. Me being totally clueless how to set up the REST service within OTRS
2. A perfectly fine solution for SOAP was already available created by @JocelynDelalande  which I could extend.

[2016-04-14 18:09] frennkie commented on #10
@ewsterrenburg I think you got the wrong frennkie there.. I'm @frennkie ;-)
Otherwise I completely understand you.
Setting up the OTRS REST service is actually very easy and done in two minutes. All you need to do is download the example .yml config from the OTRS repo and upload it as a new web service:
https://github.com/OTRS/otrs/tree/master/development/webservices

[2016-04-14 18:17] ewsterrenburg commented on #10
@frennkie
ups, so many fren(n)kies in this world...

Ok, that doesn't seem difficult. Nonetheless I was being clueless when I installed OTRS while the SOAP service  worked right away. So, maybe it's possible to switch someday, yet for now SOAP service does it's job perfectly fine :)

[2016-04-14 18:31] frdmn commented on #10
@frennkie Perhaps you could "+1" the issue in the bug tracker so the OTRS dev team notice the demand of a fix for this problem.

Right now, my [original project](https://github.com/frdmn/alfred-otrs) is kind of abandoned because it depends on a full text search in OTRS :/

I already thought about just scraping the web page instead for now...

[2016-04-14 18:36] frennkie commented on #10
@frdmn I already posted a follow up in the OTRS tracker to Bug 11981.

[2016-04-14 21:06] frdmn commented on #10
@frennkie Oh, I saw Robert's comments but didn't realize it's you. Thanks buddy! :+1:

[2016-04-26 03:13] badman420 opened #11 "BUg in GenericTicketConnector class"
Hi. I get this issue while trying to check GenericTicketConnector class - while I'm trying to access any methods of this class i get an 502 error, 'cos of incorrect endpoint server/otrs/nph-genericinterface.pl/Webservice/webservice_name. Trying to fix this issue leaves me to an empty response from server.

[2016-04-26 08:17] ewsterrenburg commented on #11
@badman420
I do not think this is an issue with the python-otrs library, yet it seems to be related to OTRS itself. Therefore I will close this issue.
You could try the OTRS mailing list or one of the OTRS related forums for help.

[2016-04-26 08:17] #11 closed

[2016-04-30 01:39] mjducharme opened #12 "Issue adding article to existing ticket"
Hi,

I have successfully created tickets, searched tickets, and updated ticket details with this, but an attempt to add an article to a ticket results in an Internal Server Error in OTRS 5, the current release. I believe it is due to the organization of the XML submitted to OTRS - the ticket number and session ID should be in the XML before the Article, and instead the article is before those two.

[2016-04-30 09:10] ewsterrenburg commented on #12
@mjducharme
Not entirely impossible, yet I believe something else will be going wrong here. What is the output of the debugger of the webservice for the corresponding request?
(Admin --> Webservices --> GenericTicketConnectorSOAP --> Debugger)

[2016-04-30 15:12] mjducharme commented on #12
I will check on Monday when I have access to the server again, but I was checking the debugger all through the process. If I recall correctly, it is logging everything to the debugger except for that one request that results in the internal server error. I figured the Internal Server Error was preventing the debugger from completing the process, through some kind of exception that they haven't pro

[2016-05-02 13:56] mjducharme commented on #12
OK I just checked, I was wrong, the debugger is logging it; however, the debugger is not logging the final two sections, "Outgoing data before mapping" and "Returning provider data to remote system". The debugger output is pasted here:

Request Details
Communication sequence started (2016-04-29 16:21:00, debug)

$VAR1 = {
  'CONTENT_LENGTH' => '630',
  'CONTENT_TYPE' => 'text/xml;charset=utf-8',

[2016-05-02 17:44] ewsterrenburg commented on #12
Hmm, not too helpful for me at least. Can you intercept the request (with
feedly or something similar) and post both the intercepted request and the
working equivalent when you post it directly (i.e. without the use of
python-otrs)?

On Mon, May 2, 2016 at 3:56 PM, Michael Ducharme notifications@github.com
wrote:

[2016-05-02 22:46] mjducharme commented on #12
Found and fixed the problem, it is a bug in OTRS, not your code. There was a typo in a perl file that only affects TicketUpdate (not TicketCreate) where TimeUnit is being specified:

/opt/otrs/Kernel/GenericInterface/Operation/Ticket/TicketUpdate.pm

Line 14 should say:

use Kernel::System::VariableCheck qw(IsArrayRefWithData IsHashRefWithData IsStringWithData);

In the relased version it instead

[2016-05-03 13:09] ewsterrenburg commented on #12
@mjducharme
Thanks for the thorough investigation.
Will you report this issue?
And can I close this issue here?

[2016-05-03 14:04] mjducharme commented on #12
I reported it last night and they fixed it a few hours after I reported it. Their fix is here:

https://github.com/OTRS/otrs/commit/f7c3826b1329ccca42be196f76d0e0dc503a9338

[2016-05-03 15:10] ewsterrenburg commented on #12
Ok, good to know :)

[2016-05-03 15:10] #12 closed

[2016-05-04 13:13] mjducharme opened #13 "How to close user session?"
Hi,

Is there a way to close a user session via the script (i.e. de-authenticate)? I ask because I am using this for our monitoring software to create tickets in OTRS, it calls a separate copy of this script for every issue. It seems the session remains open for a certain amount of time until timeout, and so I start running into issues if many tickets are created in the same time period, I have to

[2016-05-04 14:03] ewsterrenburg commented on #13
As far as I know, the generic ticket connector only provides a SessionCreate operation an no operation to close/delete/remove a session ([documentation](http://otrs.github.io/doc/manual/admin/stable/en/html/genericinterface.html#genericinterface-connectors))

[2016-05-04 14:21] mjducharme commented on #13
Thanks, I agree after reading that. That is an unfortunate limitation.

[2016-05-04 14:21] #13 closed

[2016-05-20 04:49] mjducharme opened #14 "TicketGet with DynamicFields"
TicketGet with Dynamic fields is not working. The fields are returned by OTRS (i checked the web service debugger and it shows them in the output), but instead of the dynamic fields being available as child objects (like articles), dynamic fields are not added to the python object. I think there needs to be a:

    def dynamic_fields(self):
        try:
            return self.childs['DynamicField

[2016-05-23 03:13] mjducharme commented on #14
I submitted a patch that fixes this

[2016-05-23 18:02] #14 closed

[2016-05-23 18:03] ewsterrenburg commented on #14
Thanks @mjducharme
Was on holiday for a fews days, when I came back, it was both reported and fixed :)

[2016-06-14 14:51] dctrud opened #16 "Unicode codec error"
When using python-otrs to submit an article where the text contains unicode (\u210c in this case), the following error occurs:

![python-otrs](https://cloud.githubusercontent.com/assets/4522799/16046980/f308dd94-3213-11e6-9140-73fdd2e68f71.png)

_Apologies for screenshot instead of text_

Looking in objects.py around line 103, I don't really understand what's going on here.

[code]

The `# True` c

[2016-06-14 16:02] ewsterrenburg commented on #16
Thanks for reporting. This is most likely a bug....
Could you please check for me if it works correctly if you use the following:
`e.text = unicode(v)`

Erwin

[2016-06-15 03:41] dtrudg commented on #16
Confirm that change fixes the issue - it accepts unicode strings now, and they go into OTRS as expected.

[code]

[2016-06-15 15:31] #16 closed

[2016-06-23 10:35] flexd opened #18 "Creating a ticket where the first article is a outbound email to someone"
Is this possible? Looking through the TicketCreate code at the OTRS repo https://github.com/OTRS/otrs/blob/dcb3fdc98336baa30ff614d75d2069dcdba2a73f/Kernel/GenericInterface/Operation/Ticket/TicketCreate.pm it looks like the To field is set to the queue regardless of what you do https://github.com/OTRS/otrs/blob/dcb3fdc98336baa30ff614d75d2069dcdba2a73f/Kernel/GenericInterface/Operation/Ticket/Ticket

[2016-06-27 16:04] ewsterrenburg commented on #18
As far as I know, the first article of a new ticket is just "sent" to the queue. However, I do not know OTRS in depth and my perl is rusty (read non-existent....), so I wouldn't know how the webservice could handle this by itself.

I do think it would be possible to configure this in OTRS itself (using event-based notifications?). I'm no expert on this, so perhaps you can better ask about this on

[2016-07-06 02:45] mjducharme opened #19 "Support for additional connectors (ConfigItemConnector, FAQConnector)"
I require support for the ConfigItemConnector in python-otrs, so that in addition to Tickets, I am able to work with Config items, etc. I am able to develop it myself, but first I found that the design of this code made it tricky to add new modules.

As a result, I spent quite a while re-architecting this, so that it is now very easy to add new modules to support the GenericConfigItemConnectorSOAP

[2016-07-06 03:24] mjducharme commented on #19
To clarify, there are three levels of objects
the client (an instance of GenericInterfaceClient), which contains one or more instances of the WebService object (normally just one, the ticketconnector, tc). The WebService object contains one or more Operation objects (TicketGet, TicketCreate, etc.). It is therefore structured just like OTRS itself (you have a webservice, and have operations inside

[2016-07-06 03:47] mjducharme commented on #19
here are the new yml files from otrs:

https://github.com/OTRS/otrs/blob/master/development/webservices/GenericTicketConnectorSOAP.yml
(older versions were called GenericTicketConnector.yml)

http://blog.otrs.org/wp-content/uploads/2014/11/GenericConfigItemConnectorSOAP.yml_.txt

[2016-07-06 05:54] mjducharme commented on #19
I've started work on the ConfigItemConnector interface; I would have ConfigItemGet working already, unfortunately there seems to be a bug in OTRS where it is pulling the correct ConfigItem but fails to properly format it as SOAP output, so I've opened a bug report.

[2016-07-11 01:47] mjducharme commented on #19
I've added support for GenericFAQConnectorSOAP and submitted a pull request as a result. Still need to add support for GenericConfigItemConnectorSOAP, after OTRS fixes their bug.

[2016-07-11 10:56] ewsterrenburg commented on #19
Thanks for the hard work and the updates. I'll look into it soon (probably later this week).

Erwin

[2016-07-14 12:15] #5 closed

[2016-07-14 12:28] ewsterrenburg commented on #19
@mjducharme
Thanks again :).
I merged your pull-request into a separate branch and made some additional changes (mostly linting, removed some unused imports and added some imports that were missing).

I will do some more testing/refinement in the near future before merging this into the master branch and create a new release. If you also do some changes meanwhile, you can make a pull request to th

[2016-07-17 22:13] mjducharme commented on #19
Excellent, this is great, lots of useful comments. There were a few comments that you added that are slightly inaccurate:
- In otrs/client.py, lines 131 and 136 comments should be "of the clientobject of the WebService object", not just "of WebService object".
- The soap_envelope comment is wrong on line 141, I think you copied and pasted and forgot to change. It should say """Return soap envelope

[2016-07-18 08:17] ewsterrenburg commented on #19
Updated the comments with your remarks and added the ssl_context in the same way as the loginname and password.

[2016-07-18 16:30] mjducharme commented on #19
Good catch on the ssl_context, my server doesn't have SSL so I couldn't test that bit when I was coding.

[2016-07-25 14:19] toshiro92 opened #22 "Invalid syntax on client.py"
Hello !

I am trying to use this program via virtualenv, but it seems the [client.py](https://github.com/ewsterrenburg/python-otrs/blob/master/otrs/client.py) does not working as the error here:

The piece of code I wrote is the basic of the tutorial present on README.rst

[code]

Note: I used Python 2.6 and also 3.5

[2016-07-25 20:34] mjducharme commented on #22
Does the webservice_name match the one in OTRS for your ticket connector? The current master branch is designed only for use with GenericTicketConnectorSOAP.yml (or GenericTicketConnector.yml in older OTRS versions). If your web service name in OTRS is not either GenericTicketConnectorSOAP or GenericTicketConnector, it suggests you may have made the web service manually and it may have other setti

[2016-07-26 09:38] toshiro92 commented on #22
Yes I confirm, the webservice_name is the same as into OTRS. I also re-created the GenericTicketConnector found on [Web Service Configuration](http://otrs.github.io/doc/manual/admin/4.0/en/html/genericinterface.html#webservice_cli_webserviceconfig), but I still have the invalix syntax issue when I launch my program. Or maybe I made a mistake about the GenericTicketConnector and I did not take the

[2016-07-26 13:12] mjducharme commented on #22
In your OTRS web service debugger does OTRS return the correct data?

[2016-07-26 15:00] toshiro92 commented on #22
Hum I can see a list of "Requester" made automatically with "No data provided" and "InvokerObject returned an error" (see screenshot below).

Do I need any particular thing to do with the Generic Ticket Connector ? I only used the default code present on [Web Service Configuration](http://otrs.github.io/doc/manual/admin/4.0/en/html/genericinterface.html#webservice_cli_webserviceconfig) part.

I ha

[2016-07-26 17:46] ewsterrenburg commented on #22
@toshiro92
I'm afraid there might be issues on both sides.

The line that is giving the "incorrect syntax" message tries to show you the error occurring in a readable way, however does not succeed doing so. Apparently, the status of return is valid, it has some characteristics of a normal SOAPError, yet is different enough to make this function fail.

Could you please post the following:
- The act

[2016-07-26 17:51] ewsterrenburg commented on #19
To do in near future:
- ~~create a new release before these changes~~
- ~~merge this into the master branch~~
- ~~create a new release including these changes~~

To do beforehand:
- ~~Manually test the FAQ connector~~
- ~~Clear up Issue 22~~
- ~~Try to remember how to publish to pypi ;)~~

[2016-07-27 08:58] toshiro92 commented on #22
Hum that I know from Python is before it launch a program, it check if any line is correctly indented or does not have an invalid syntax. Then It launch the program. Here the issue could be the feature which is not compatible with the current Python version I use, or an issue into the code.

I commented the line 18 on client.py, but I also had the same issues on lines:

Line 303: infos = {extract_

[2016-07-27 10:09] ewsterrenburg commented on #22
@toshiro92
The "{extract_tagname(i): int(i.text) for i in elements}" might be incorrect with python 2.6 (I have only used this with python 2.7 (and 3.5).

The new message is certainly correct. The line shown in indeed incorrect syntax for python 3. In fact, the version on pypi is not compatible with python 3.

[2016-07-27 10:33] ewsterrenburg commented on #22
I can confirm that this line is indeed not compatible with python 2.6. You can consider the version on pypi (i.e. what is being installed by "pip install python-otrs" compatible with python 2.7 only.

The new version (to be released soon) will also be python 3 compatible.

[2016-07-27 14:29] toshiro92 commented on #22
Indeed, I just changed the version to python2.7, and now it is working well, I see now the envelope when I put my credentials.

I just recommand to update the readme file about the version needed for this project :)

Thank you for your answer !

[2016-07-27 17:01] ewsterrenburg commented on #22
It'll be added to the readme soon. Will close this issue for now.

[2016-07-27 17:01] #22 closed

[2016-07-27 17:02] ewsterrenburg commented on #10
Issue is clear. Is now fixed in OTRS (at least in OTRS5). Will close this issue.

[2016-07-27 17:02] #10 closed

[2016-07-27 17:51] frdmn commented on #10
👍

[2016-07-29 10:21] toshiro92 opened #23 "Get data into an Article"
Hello !

I tried to extract data from an Article object following the README file, but it seems the dynamicfields function into it does not working:

I did the following lines:

[code]

However, I showed the entire Article Object and studied it, and this is working by doing this:

[code]

[2016-07-29 10:30] ewsterrenburg commented on #23
@toshiro92
The dynamic fields are a property of the OTRS ticket. An OTRS article does not have dynamic fields.

[2016-07-29 10:31] toshiro92 commented on #23
Hum ok, so the way to extract information from Article is to do like I wrote:

[code]

Or is there a better way about ?

[2016-07-29 12:39] ewsterrenburg commented on #23
You could do it like you are doing. You can also access the attributes directly, like this:

[code]

[2016-07-29 12:49] toshiro92 commented on #23
Ok great ! Thank you @ewsterrenburg

[2016-07-29 14:00] mjducharme commented on #23
@ewsterrenburg

Articles can have dynamic fields as well. I do not use them myself but when creating dynamic fields there are options to create them for either tickets or articles

[2016-07-29 14:15] mjducharme commented on #18
Yes event based notifications can work for this. You will just need to be careful with filters so that it didn't also send such things for email tickets.

The other way it could be handled is with an auto response that quoted the entire original post, which might be easier.

However this should not have any bearing on Python-OTRS since it is more of a design philosophy of the ticket connector in O

[2016-07-29 15:38] flexd commented on #18
As you can see in the code for OTRS, it does not call any code that would send an email, regardless of the initial article type.

I emailed the mailing list back, and was told it's currently not possible but there is a pull-request https://github.com/OTRS/otrs/pull/815

Once that is merged it will be possible to send emails via the API.

[2016-07-29 16:27] ewsterrenburg commented on #23
@mjducharme @toshiro92
I stand corrected here, never used them either and falsely assumed they were only available for tickets.
Guess it would be best if dynamic fields for both tickets, articles, faq's, ... are handled the same way the articles are treated for a ticket (i.e. give back a list of DynamicFields if any, an empty list otherwise).

Reopening this issue.

[2016-07-30 06:24] mjducharme commented on #23
I use dynamicfields for tickets, but not for articles. When I coded the function, I tested it only with ticket dynamic fields, and I use it with that in production; I assumed it would work for article dynamicfields as well.

[2016-08-01 08:45] ewsterrenburg commented on #23
@mjducharme in your new code, this is handled fine

[2016-08-01 09:52] #19 closed

[2016-08-01 09:53] #23 closed

[2016-08-01 09:56] ewsterrenburg commented on #18
@flexd
I noticed your email on the mailinglist and the replies. When this functionality is added to OTRS itself, the operation will also be added to python-otrs. Will keep this issue open.

[2016-08-01 09:57] ewsterrenburg opened #24 "Tests for FAQ connector"
Create automated tests for the FAQ connector.

[2016-08-01 09:59] ewsterrenburg opened #25 "Bad statusline error when using wrong webservice name."
When a wrong name for the webservice is specified, a "bad statusline" error is given back to the user. Find out what is actually returned and try to provide the user with a more helpful error message.

[2016-08-01 12:55] toshiro92 commented on #23
FYI: About the DynamicFields into an Article, on my side I can see that they are named as below into an Article:

[code]

[2016-08-01 13:12] toshiro92 opened #26 "Update article element"
Hello again !

I am wondering about how use python-otrs to just update an element into an Article, but from now I only found about how update a ticket. I've tried the following piece of code:

[code]

However I had the following error:

Is there something existing about update an article ? :)

[2016-08-01 13:47] ewsterrenburg commented on #26
@toshiro92
The OTRS manual states the following:

So, no modifications for the existing articles... Which makes sense from a transparency view: you can't edit this in the web-interface either.

What I expect your code would do if it were working is add additional articles with the updated content....

The error seems to be caused  when the charset is set to the value that is read from article read

[2016-08-01 14:36] toshiro92 commented on #26
Hum, I think this is because I have an addon which allow the article Edition when it is a Note. Is there any way to delete an article ? Because I could get data, create a new Article and then delete the old one ?

Also, I saw on OTRS perl API that a [ArticleUpdate()](https://otrs.github.io/doc/api/otrs/3.3/Perl/Kernel/System/Ticket/Article.pm.html) currently exists, as also on the list of Events i

[2016-08-01 15:10] ewsterrenburg commented on #26
1. You can't delete an article either (you could do it directly on the database, but even then you need to remove some other records (history, flags) first).
2. It seems this operation is indeed available from the webservice functionality. However it would require your own custom webservice configuration in OTRS and writing a Custom Web Service Connectors as well. The standard generic ticket conne

[2016-08-01 15:18] ewsterrenburg commented on #25
Added BadStatusLineError (commit [e98ed..](https://github.com/ewsterrenburg/python-otrs/commit/e98ed8627bf7433fd04ea850f8b0aef2f91d0db8))

[2016-08-01 15:18] #25 closed

[2016-08-01 15:30] mjducharme commented on #26
Hi,

At least in version 5, I do not see a TicketUpdate operation. This functionality appears to be an Invoker instead of an operation. OTRS Invokers are used, say, so that when OTRS detects that an article has been updated, you can have an invoker place a web service call to some other system to update it. It is therefore OTRS itself that is pushing the updates to a remote system using invoker co

[2016-08-01 15:53] mjducharme commented on #26
Example Scenario: A technician has been given multiple warnings by management that he or she is not asking whether the customer's computer is plugged in early in the troubleshooting process. One day, after these warnings, the technician spends two hours on the phone with a customer, documenting the troubleshooting with various updates, and then the customer discovers it wasn't plugged in and then

[2016-08-01 17:04] ewsterrenburg commented on #26
I agree usually you shouldn't want to mess with the article sequence of a ticket and fully understand why this is not available from the web-interface. I would also depend on how you are using OTRS: in our organization, it is more a way of logging customer questions/problems of a diverse nature. It is not used for proving performance in relation to a SLA, strict time accounting or evaluating agent

[2016-08-01 17:04] #26 closed

[2016-08-01 17:13] mjducharme commented on #26
@ewsterrenburg there is an official way of deleting tickets in OTRS through the WebUI - you can use the GenericAgent in Admin menu to match tickets based on certain criteria and delete them. It is only available through there so that technicians cannot delete tickets. Its incorporation in the GenericAgent is mostly for clearing out old data - for a system that has been in operation for a decade, t

[2016-08-01 18:22] ewsterrenburg commented on #26
Thanks for the tip (at least in OTRS 4 it's hidden quite well :).

[2016-08-02 11:53] toshiro92 commented on #26
I am also agree about the fact an Article must not be modified. However here this is about "Notes" which are created on OTRS ticket, and can be edited on GUI interface.

I've tried the update case on article table, but it does not change the value on the GUI interface. I think an existing cache is present between the webserver and the DB...

[2016-08-03 01:00] mjducharme commented on #26
@toshiro92 you cannot normally edit notes through the OTRS user interface. If you have the ability to do this, it is due to a non standard add on you have installed.

[2016-10-17 10:57] ErikWiesener opened #27 "Implement a Session Close ?"
Hi,
is it anyway possible to implement a sessio close() method? Because In my case many user with many tickets will create a Session and I don't want to change the Sessionlimitation on the OTRS Server.

Kind regards

Erik

[2016-10-17 20:41] ewsterrenburg commented on #27
Unfortunately, this does not seem to be possible. Please see the discussion under https://github.com/ewsterrenburg/python-otrs/issues/13

[2016-10-17 20:41] #27 closed

[2017-01-18 10:29] ErikWiesener opened #28 "better or more Ticketsearch operations"
Is it possible to get mor than the list of TicketIDs back, so maybe a JSON Dict with title, id, creator and so on ? Is it planned to implement such function ?

[2017-01-18 12:57] ewsterrenburg commented on #28
@ErikWiesener
The standard connectors supplied with OTRS do not provide the possibility to do so: the TicketSearch operation of the Ticket Connector of the OTRS GenericInterface returns a list of Ticket IDs that matches a predefined criteria. The only way to accomplish this would be to do a search first, followed by a loop that executes a TicketGet for the returned ID's and convert that to your de

[2017-01-26 15:21] busbauen opened #29 "Security flaw"
Hey
thanks for the lib! Unfortunately your xml parser is XXE vulnerable. Instead of xml.etree.ElementTree please use defusedxml.ElementTree.
More information: https://pypi.python.org/pypi/defusedxml/0.4#defusedxml

Thank you!

[2017-03-21 10:34] Modius22 opened #31 "Little Question"
Hi Guys,
Is an expansion planned for the OTRS CMDB?
greetings
Modius

[2017-03-21 13:38] mjducharme commented on #31
I plan to do this in a few months after upgrading OTRS. A bug in the OTRS SOAP interface prevented me from even fetching a config item.

[2017-03-21 17:52] ewsterrenburg commented on #31
We are not using this functionality in our OTRS (actually, I more or less only use this library to create example soap requests ;), yet I'd be happy to merge.

@mjducharme
it seems you are doing more of the work than I am, if you want to become owner of this project, that's fine with me (you should have an invite now as a collaborator)

[2017-06-04 16:52] Modius22 commented on #31
To explain this perhaps again more precisely =)
I would like to query a CI from the OTRS CMDB from the outside.
As a return I would like to have the CI information as well as the tickets with which the CI is linked.
Do you have an idea?

[2017-06-06 03:38] mjducharme commented on #31
Yes, please give me another week and I should have this functionality developed.

[2017-06-14 16:39] mjducharme commented on #31
I have made progress but this is still not done. The main challenge is that the XML data for the CI objects has a very dynamic tree structure, so I need to create classes on-the-fly instead of using statically defined classes. This requires some changes to the core code.

[2017-06-15 12:03] StCyr opened #33 "Not able to re-use stored session_id properly"
Hi,

If you try to use an existing session_id (that you previously stored in a temporay file, for example), it will work OK unless the corresponding session_id doesn't exist (eg: has been removed) in the OTRS you're polling. In this case your SOAP operations will fail miserably.

python-otrs should be able to handle the case where a session_id fails to authenticate the SOAP operation and fall back

[2017-06-15 13:45] mjducharme commented on #33
I have two concerns about this type of approach:

1. The OTRS developers intended the SOAP interface to behave exactly like the web interface does, giving the same errors at the same points, using the same permissions, etc. The web interface doesn't auto reauthenticate you when your session times out - it displays the login screen but you still must reauthenticate. This change would make the Pytho

[2017-06-15 16:28] ewsterrenburg commented on #33
Fully agree with @mjducharme. My reaction wouldn't have been this elaborate (thanks again ;), yet the summary would have been along the lines of "Please keep this logic in your own script".

You need some additional logic anyway (for instance to read and write the temp files). As far as I can see, passing an optional session_id to the client and would barely reduce your script, while reducing pred

[2017-06-20 07:18] StCyr commented on #33
Hi,

Thanks for your ( extensive :-) ) feedback. It all make sense.

Cyrille

[2017-06-20 07:18] #33 closed

[2017-06-20 13:31] VictorGabrielRM opened #34 "TicketSearch with mutiples States"
Hi guys,

How can I use TicketSearch with multiple states?

I tried:
`TicketSearch(States=['new','open'])`

But doesn't works :(

[2017-06-22 14:34] mjducharme commented on #31
I got the dynamic classes working, but decided it was not the best UI experience for the CIXMLData structure. Since that data structure can have multiple levels of children and is very flexible, I am using a dict for that, and created new functions to recursively create a dict from xml or xml from dict. It is about 80% complete. I have to fix the Attachments feature because for some reason in Conf

[2017-06-26 20:44] #28 closed

[2017-06-26 21:02] ewsterrenburg commented on #34
@VictorGabrielRM
Can you tell what result you are getting? I just tried exactly the same approach and it worked like a charm...

[2017-08-05 16:00] PromptSec commented on #31
HI @mjducharme !

Great job you is doing.

[2017-08-21 12:01] ewsterrenburg commented on #34
No reaction. Will close this issue.

[2017-08-21 12:01] #34 closed

[2017-08-21 15:21] ewsterrenburg commented on #29
@busbauen Since defusedxml has no equivalent of etree.Element, it cannot be used as a drop in etree replacement... Could you give some hints how to get this functionality using defusedxml?

[2017-08-21 15:37] kmille commented on #29
Hm. Maybe you can/have to use _Element.

source: http://programtalk.com/vs2/python/7920/wsgidav/wsgidav/xml_tools.py/

[2017-08-21 17:02] ewsterrenburg commented on #29
@busbauen, thanks! That link provided the hints I needed.

[2017-08-21 17:02] #29 closed

[2017-12-20 10:02] suntekma opened #35 "ticket PendingTime State"
OTRS ticket State as a reminder, how to set the reminder datetime

t = Ticket(State='pending reminder',Priority='3 normal', Queue='IT Helpdesk',
               Title=computer + 'Add Administrator', CustomerUser=samid,TimeUnit='10',
               Type='Alert',Service='Alert::Administrator')

[2018-02-12 09:21] JulianDeal commented on #31
@mjducharme
This all sounds great! But you didn't push your work, did you? It would be extremely helpful for me right now. Or at least branching it. I don't even need the attachment feature.

[2018-04-06 14:12] Filterer commented on #10
Hi all,

I know that this issue is closed but I have the same problem when trying to search tickets based on their article fields (subject, body etc). I m having OTRS 6 on ubuntu and I am executing queries with curl in the terminal. OTRS is also configured as an Invoker with REST and I am using the common GenericTicketConnectorREST webservice with the basic ticket and session functions.

For examp

[2018-04-07 10:57] ewsterrenburg commented on #10
@Filterer
Am I correct that you are not experiencing an issue with the python-otrs library, yet with OTRS itself?

If so, could you please try the [OTRS mailing list](https://groups.google.com/forum/#!forum/otrs_archive)  or one of the OTRS related forums for help...

[2018-06-14 12:57] nstoeckigt opened #36 ""out of memory" Exception while retrieving ticket with ~1G attachements"
When trying to retrieve a large ticket with the following code:
[code]
I get a 'out of memory' exception. The attachments are about 937MB and the whole SOAP response seems to be about 1.3GB.

[2018-06-15 06:56] ewsterrenburg commented on #36
What steps have you taken to investigate this issue?
Is your server running out of memory or your client? And how much memory do you have available?
And does the request succeed using a SOAP client such as SoapUI?

[2018-06-18 10:42] nstoeckigt commented on #36
In general all Requests (since 2 years) are successful - however this is the first time it failed and the only obvious difference is the whole size of the ticket and it's attachments. We are using the script - from which the above snippet is from - on a daily basis. I pinned the issue to the line where 'client.ticket_get()' is called.

--------------------------------------------------------------

[2018-08-31 10:27] ytaogror opened #37 "Search tickets between dates"
I'd like to find tickets between dates , when using only one DF is works  ....

df1 = DynamicField(Name='ResolvedDate', Value='2018-08-01 00:00:00', Operator="GreaterThanEquals")
df2 = DynamicField(Name='ResolvedDate', Value='2018-08-05 00:00:00', Operator="SmallerThan")

tickets = client.tc.TicketSearch(Queues='QUEUENAME',StateIDs=['2'],dynamic_fields=[df1]) -> works ok
tickets = client.tc.Ticket

[2018-11-07 14:56] mike-mitchell opened #38 "Invalid Webservice Name but returning SessionID"
I am getting the following error:
"BadStatusLine Exception when trying to reach https://cert2.corpnet.pl/otrs/nph-genericinterface.pl/Webservice/test.            Are you using the correct webservice name?"

But in the webservice debugger, there is a successful connection and the service is returning the correct session id.

"""<?xml version="1.0" encoding="UTF-8"?><soap:Envelope soap:encodingStyle

[2018-11-08 21:06] iacsvrn opened #39 "TicketGet problem(delete, plz)"
OTRS 6.0, python 2.7.

- - -

Code
`rawtickets = client.tc.TicketSearch(Queues='Raw')`

Output:
`[21, 15, 12, 11, 10, 9, 8, 7, 6, 1]`

- - -

Code

`ticket = client.tc.TicketGet(21, get_articles=True)
article = ticket.articles()[0]`

or this one:

`ticket = client.tc.TicketGet(ticket_id=21, get_articles=True)
article = ticket.articles()[0]`

Output:
`<otrs.ticket.objects.Ticket object at 0x7efbfe3

[2018-11-08 21:43] iacsvrn commented on #39
Sorry, it`s my error=)

[2018-11-08 21:43] #39 closed

[2018-12-11 11:51] nstoeckigt opened #40 "Ticket search with multiple StateIDs results in Traceback"
When trying a `ticket.search` like described in the [PyOTRS Docu](https://media.readthedocs.org/pdf/pyotrs/latest/pyotrs.pdf#section.3.7) I always ran into an Exception.
[code]
also
[code]
What to do?

[2018-12-11 12:05] nstoeckigt opened #41 "Missing ticket.merge"
Please add a functionality to merge tickets

[2018-12-18 12:27] nstoeckigt commented on #41
It should somehow be possible → https://doc.otrs.com/doc/api/otrs/5.0/Perl/Kernel/System/Ticket.pm.html#TicketMerge

[2018-12-27 04:22] mjducharme commented on #40
PyOTRS is not the same as python-otrs - two different frameworks

[2019-08-07 09:57] iacsvrn opened #43 "Completion SessionGet operations question"
Hello @ewsterrenburg , @mjducharme.
You make a very useful library! Very cool, thanks!

Are you planning to add [SessionGet](https://doc.otrs.com/doc/api/otrs/6.0/Perl/Kernel/GenericInterface/Operation/Session/SessionGet.pm.html)  class to   ##[otrs/session](https://github.com/ewsterrenburg/python-otrs/tree/master/otrs/session)

[2019-12-28 23:26] iacsvrn commented on #43
It`s released at OTRS:

https://doc.otrs.com/doc/api/otrs/6.0/Perl/Kernel/GenericInterface/Operation/Session/SessionCreate.pm.html

It`s need to be released at your lib! =)

[2020-01-15 14:35] engFelipeMonteiro commented on #35
fechar_ticket = Ticket(State='Contingenciado', PendingTime={'Diff':10080})
client.tc.TicketUpdate(ticket_id=busca_df[0], ticket=fechar_ticket, article=artigo_fechar)

*** otrs.client.SOAPError: TicketUpdate: Ticket->PendingTime parameter is invalid! (TicketUpdate.InvalidParameter)

[2020-01-15 17:17] moita69 opened #44 "Ticket Pending time"
I am tring to use TicketUpdate method to put a ticket into pending state, I cant put pendingTime to the ticket

$fechar_ticket = Ticket(State='Contingenciado', pendingTime={ 'Diff':10080,})
$client.tc.TicketUpdate(ticket_id=busca_df[0], ticket=fechar_ticket, article=artigo_fechar)

otrs.client.SOAPError: Can't set a ticket on a pending state without pendig time! (TicketUpdate.MissingParameter)

[2020-01-20 10:52] ewsterrenburg commented on #44
@moita69
If I create the SOAP request directly, I am getting the same error (on v5.0.37).  It seems to be an issue with OTRS itself. Could you file a bug report with OTRS?

[2020-01-20 10:59] ewsterrenburg commented on #43
It does seem quite straightforward to implement, yet we are still using v5.0.x and I have no easy way to test things on a v6 environment. Will keep it in mind.

[2020-01-20 11:03] ewsterrenburg commented on #41
@nstoeckigt

It would be possible, yet it is not supported by the bundled ticket connector and would require a custom connector (see the final section this repository's README).

[2020-01-20 11:03] #41 closed

[2020-01-20 11:04] #40 closed

[2020-01-20 11:07] ewsterrenburg commented on #35
@suntekma @moita69
You could using pendingTime without the capital at the start. However, there is another blocking issue here in OTRS itself :( See https://github.com/ewsterrenburg/python-otrs/issues/44

[2020-01-20 11:07] #35 closed

[2020-01-20 12:20] ewsterrenburg commented on #18
Developments in OTRS seem to have bled to death. Will close now.

[2020-01-20 12:20] #18 closed

[2020-01-20 12:23] ewsterrenburg commented on #36
Not clear where the issue is coming from, if it is still relevant and hard to replicate. Will close.

[2020-01-20 12:23] #36 closed

[2020-01-20 12:30] ewsterrenburg commented on #38
@mike-mitchell
Whatever the underlying reason, your server is passing back something that Python's urllib2 does not understand (wrong statuscode, wrong headers, ...?).

I included the message regarding the webservice name as a hint (making a mistake in this name was the main reason I was getting this BadStatusLine error)

[2020-01-20 12:30] #38 closed

[2020-01-20 12:54] ewsterrenburg commented on #37
@ytaogror

I honestly have no idea whether this is intended to be possible or not in the generic interface.

However, I can not make it work in anyway neither using python-otrs (where multiple dynamic fields should be a list), nor by directly calling the endpoint with a soap envelop. It seems that including the same dynamic field twice with different conditions has the result that the dynamic fiel

[2020-01-20 12:54] #37 closed

[2020-01-20 12:56] ewsterrenburg commented on #31
@mjducharme
Have you looked into this in the mean time?

[2020-01-30 14:06] iacsvrn commented on #43
I has OTRS 6 dev / test environment, I can test.

[2020-04-17 00:59] franklinfarias opened #45 "Error with ScriptAlias"
There is an error when a ScriptAlias is set up different from the default **otrs/**.

In the source: **client.py** line _350_. The value _otrs/nph-genericinterface.pl/Webservice/_ is fixed.

Thanks!

[2021-03-15 09:24] vincentborghi opened #46 "TicketCreate() assumes falsely that a ticket number looks like a number (an int)"
My OTRS instance has a specific ticket number generator, so ticket numbers are not made of digits only (an example of ticket number in my system is "210315-VT1203" ). Apparently (and if I understand), non-numeric ticket numbers cause TicketCreate() to fail when it generates its return infos.

For example I have a ticket number like "210315-VT1203" and I obtained this error (although the ticket is

[2021-03-15 10:31] vincentborghi commented on #46
Same issue is found when calling TicketUpdate().
...and posibly other places where int(i.text) is applied to the ticket number...

[2021-03-15 20:59] vincentborghi opened #47 "base64 encoding for attachments with Python 3"
The example given in the documentation:
    att_content = base64.b64encode(att_file.read())
does not work, because the content string in the generated XML has a leading literal "b" and is enclosed with quotes (b'XXXXX' instead of just XXXXX). As a result, the contents is stored in OTRS but unreadable due to those unwanted characters.

As a workaround, I was obliged to do:
att_content = base64.b64e

[2021-04-19 08:28] vincentborghi opened #48 "In otrs/objects.py, assumptions made by "autocast" are error-prone (for values with a leading zero)"
In my use case, I have a dynamic field "SR Number" which stores some external ticket number. The fact is that those ticket numbers are made of digits only and may begin with "0" (zero), like e.g. "01234567".
When I search for tickets whose dynamic field "SR Number" is e.g. "01234567", this fails, because autocast changes the string value "01234567" to the "1234567" int, while I need it just stays

[2022-01-28 11:01] toaster74 opened #51 "getchildren deprecation is resolved by PR"
Hello,

would you please merge https://github.com/ewsterrenburg/python-otrs/pull/50 in order to fix the deprecated getchildren call?

Thanx,

 -- op

[2022-02-15 11:16] ewsterrenburg commented on #51
Closed by #50

[2022-02-15 11:16] #51 closed

[2022-02-15 12:41] ewsterrenburg commented on #46
Agreed that the assumption of a ticket number that strictly consists of numbers should be removed. Will think about how to implement this (pull request is also welcome...)

[2022-02-15 12:43] ewsterrenburg commented on #45
Could you specify which parts should be more flexible? Is it just the 'otrs' part or could 'nph-genericinterface.pl/Webservice/' be variable as well?

[2022-02-15 12:45] ewsterrenburg commented on #47
Not sure yet if it's indeed related to this "unicode" function, however docs should be correct of course. I'm leaning towards scrapping Python 2 compatibility altogether and simplify some of these things.

[2022-02-15 12:47] ewsterrenburg commented on #48
Agreed that the current version is "too greedy", yet couldn't come to a simple fix yet that's doing the right thing in both Python 2 & Python 3 (your workaround doesn't work when the ticket numbers involved are actually integers).

Will think about it and look at this as well when scrapping out Python 2 compatibility.

[2022-02-15 12:49] ewsterrenburg opened #52 "Rewrite tests to work with https://hub.docker.com/r/juanluisbaptiste/otrs"
No company OTRS available anymore. Rewrite tests to work with a standard docker image.

[2022-02-15 12:50] ewsterrenburg opened #53 "Make Python 3 only."

[2022-02-15 13:17] vincentborghi commented on #46
As a workaround, I have modified my python-otrs/otrs/ticket/operations.py as follows (just a quick hack that probably could be even simpler, shown below as a diff). The statement that hurts is:
`infos = {extract_tagname(i): int(i.text) for i in elements}`

It appears in the "class TicketCreate" and in the "class TicketUpdate" definitions, so I applied the change the change to both places.
[code]